<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.melhorevento">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name="activity.BuscarEventoActivity"
            android:label="@string/cabecalhoBuscarEvento"
            android:screenOrientation="portrait" />
        <activity android:name="activity.AlterarDadosActivity"
            android:label="@string/cabecalhoAlterarDados"
            android:screenOrientation="portrait" />
        <activity android:name="activity.AlterarEventoActivity"
            android:label="@string/cabecalhoAlterarEvento"
            android:screenOrientation="portrait" />
        <activity android:name="activity.AlterarEventoListagemActivity"
            android:label="@string/cabecalhoAlterarEventoListagem"
            android:screenOrientation="portrait" />
        <activity android:name="activity.ExibirEventosActivity"
            android:label="@string/cabecalhoExibirEvento"
            android:screenOrientation="portrait" />
        <activity android:name="activity.CadastrarEventoActivity"
            android:label="@string/cabecalhoCriarEvento"
            android:screenOrientation="portrait" />
        <activity android:name="activity.SobreActivity"
            android:label="@string/cabecalhoSobre"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="activity.CadastrarPessoaJuridicaActivity"
            android:label="@string/cabecalhoCadastroPessoaJuridica"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.CadastrarPessoaFisicaActivity"
            android:label="@string/cabecalhoCadastroPessoaFisica"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.MainActivity"
            android:label="@string/title_activity_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name="activity.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>